@charset "UTF-8";

@keyframes down {
    0% { transform: translateY(-20%); opacity: 1; }
    100% { transform: translateY(20%); opacity: 0.4; }
}
.animate-down { animation: down 0.8s infinite ease-out; }

@font-face {
    font-family: "나눔바른고딕", sans-serif;
    font-weight: 100;
    src: url(../fonts/NanumBarunGothicLight.ttf);
}

@font-face {
    font-family: "나눔바른고딕", sans-serif;
    font-weight: 600;
    src: url(../fonts/NanumBarunGothicBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;   
    box-sizing: border-box;
}

:lang(ko){ font-family: "나눔바른고딕", sans-serif; }
:lang(en){ font-family: "Segoe UI", sans-serif; }
ol, ul { list-style: none; }
html, body { scroll-behavior: smooth; }

p { word-break: keep-all; line-height: 1.8em; }
p.pre-line { white-space: pre-line; }

a, a:hover, button, label { 
    cursor: pointer; 
    color: inherit; 
    text-decoration: none;
    background-color: transparent; 
}
a:hover { text-decoration: underline; }
::-webkit-scrollbar { display: none; }

.container { max-width: 1140px; margin: 0 auto; }

.position-relative { position: relative; }
.position-absolute { position: absolute; }

.position-center-y { position: absolute; top: 50%; transform: translateY(-50%); }

.left-0 { left: 0; }
.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }

.d-block { display: block!important; }
.d-none { display: none!important; }
.d-flex { display: flex!important; }
.d-inline { display: inline!important; }
.d-inline-block { display: inline-block!important; }

.box-shadow { box-shadow: 0 1px 3px 1px #00000020; }




/* under-line */

.under-line {
    position: relative;
    padding-bottom: 25px;
}

.under-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #222;
}
.under-line.text-white::after { background-color: #fff; }
.under-line.left::after { left: 0; transform: none; }

.under-line.reverse {
    padding-bottom: initial;
    padding-top: 25px;
}

.under-line.reverse::after {
    top: 0;
    bottom: initial;
}

/* /under-line */

/* flex */
.flex-wrap { flex-wrap: wrap; }
.flex-column { flex-direction: column }

.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }
.justify-content-center { justify-content: center; }
.justify-content-right { justify-content: right; }

.align-items-start { align-items: flex-start; }
.align-items-center { align-items: center; }
.align-items-end { align-items: flex-end; }


.list {
    display: flex;
    flex-wrap: wrap;
}

.list > .item { min-height: 100px; border: 1px solid #ddd; }
.list > .item-33 { flex: 0 0 calc(33.333% - 0.5em); max-width: calc(33.333% - 0.5em); margin: 0.25em;}

.list > .item-25 { flex: 0 0 calc(25% - 0.5em); max-width: calc(25% - 0.5em); margin: 0.25em;}
.list > .item-50 { flex: 0 0 calc(50% - 0.5em); max-width: calc(50% - 0.5em); margin: 0.25em;}
.list > .item-100 { flex: 0 0 calc(100% - 0.5em); max-width: calc(100% - 0.5em); margin: 0.25em;}

/* /flex */

/* background */

.bg-black { background-color: #222; }
.bg-gray { background-color: #f8f8f8; }
.bg-white {background-color: #fff; }
.bg-red { background-color: #bd144c; }


/* /background */


/* visual-title */

.visual-title {
    position: relative;
    font-size: inherit;
    color: #222;
    display: inline;
}

.visual-title .accent {
    font-size: 3em;
}


/* /visual-title */

/* text */

.vertical-top { vertical-align: top; }
.vertical-center { vertical-align: center; }
.vertical-bottom { vertical-align: bottom; }

.text-ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.fx-n3 { font-size: 0.8em!important; }
.fx-n2 { font-size: 0.85em!important; }
.fx-n1 { font-size: 0.9em!important; }

.fx-1 { font-size: 1em!important; }
.fx-2 { font-size: 1.1em!important; }
.fx-3 { font-size: 1.3em!important; }
.fx-4 { font-size: 1.5em!important; }
.fx-5 { font-size: 1.8em!important; }

.fx-6 { font-size: 2.2em!important; }
.fx-7{ font-size: 2.5em!important; }
.fx-8 { font-size: 2.8em!important; }
.fx-9 { font-size: 3.2em!important; }

.lh-1 { line-height: 1em; }
.lh-1-5 { line-height: 1.5em; }
.lh-2 { line-height: 2em; }
.lh-2-5 { line-height: 2.5em; }

.text-left { text-align: left!important; }
.text-center { text-align: center!important; }
.text-right { text-align: right!important; }

.text-white { color: #fff; }
.text-light { color: #ccc; }

.text-black { color: #333; }
.text-gray { color: #555; }
.text-muted { color: #888; }
.text-red { color: #e02262; }
.text-red:hover { color: #e02262; }
.text-purple { color: #8b4fb3; }
.text-purple:hover { color: #70318d; }


.light { font-weight: 100; }
.bold { font-weight: 600; }
.bolder { font-weight: 900; }

.filter-grayscale { filter: grayscale(100%); }
.filter-whitescale { filter: grayscale(100%) brightness(500%); }

/* /text /


/* size */
.w-100 { width: 100%; }
.w-80 { width: 80%; }
.w-75 { width: 75%; }
.w-70 { width: 70%; }
.w-60 { width: 60%; }
.w-50 { width: 50%; }
.w-40 { width: 40%; }
.w-30 { width: 30%; }
.w-25 { width: 25%; }
.w-20 { width: 20%; }

.h-100 { height: 100%; }


.wx-50 { width: 50px; }
.wx-100 { width: 100px; }
.wx-150 { width: 150px; }
.wx-200 { width: 200px; }
.wx-250 { width: 250px; }
.wx-300 { width: 300px; }

.hx-50 { height: 50px; }
.hx-100 { height: 100px; }
.hx-150 { height: 150px; }
.hx-200 { height: 200px; }
.hx-250 { height: 250px; }
.hx-300 { height: 300px; }

.min-hx-50 { min-height: 50px; }
.min-hx-100 { min-height: 100px; }
.min-hx-150 { min-height: 150px; }
.min-hx-200 { min-height: 200px; }
.min-hx-250 { min-height: 250px; }
.min-hx-300 { min-height: 300px; }


/* split */

.split {
    width: 1px; 
    height: 0.8em;
    background-color: #fff5;
    margin: 0 0.8em;
}

.split-left{
    height: 100%;
    width: 50%;
    padding-left: 30.5%;
}

.split-right {
    padding-right: 30.5%;
    width: 50%;
}

.split-right.long {
    padding-right: 20.5%;
}


.split-line {
    width: 70%;
    margin: 0 auto;
    background-image: url(../images/split.png);
    background-repeat: repeat-x;
    background-size: auto 13px;
    background-position: center center;
    text-align: center;
}

.split-line > * { display: inline; background-color: #f8f8f8; padding: 0 10px; }


.split-image {
    width: 100%;
    height: 400px;
    filter: brightness(50%);
    box-shadow: inset 0 2px 5px 3px #00000050;
    position: relative;
}

.split-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* /split */

/* /size */

/* icon */
.icon { 
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex: 0 0 1.5em;
    box-sizing: content-box;
    cursor: pointer;
    user-select: none; 
}
.icon > img { width: 100%; height: 100%; object-fit: cover; }

.icon-circle {
    border-radius: 50%;
    border: 1px solid #d3225d;
    padding: 0.3em;
}



/* /icon */

/* image */

.image-cover { width: 100%; height: 100%; object-fit: cover; }

/* /image */


/* action */
.hover-grayscale { filter: grayscale(100%) brightness(300%); transition: 0.3s; }
.hover-grayscale.no-white { filter: grayscale(100%); }
.hover-grayscale:hover { filter: grayscale(0) brightness(100%); }

.hover-opacity { opacity: 0.7; }
.hover-opacity:hover { opacity: 1; }

.hover-opacity-reverse { opacity: 1; }
.hover-opacity-reverse:hover { opacity: 0.8; }

.pointer { cursor: pointer; }

/* /action */


/* /icon */


/* blank */
.padding { padding: 64px 0; }
.padding-lg { padding: 128px 0; }

.m-0 { margin: 0em!important; }
.m-1 { margin: 0.5em!important; }
.m-2 { margin: 0.8em!important; }
.m-3 { margin: 1.2em!important; }
.m-4 { margin: 1.8em!important; }
.m-5 { margin: 2.5em!important; }

.ml-0 { margin-left: 0em!important; }
.ml-1 { margin-left: 0.5em!important; }
.ml-2 { margin-left: 0.8em!important; }
.ml-3 { margin-left: 1.2em!important; }
.ml-4 { margin-left: 1.8em!important; }
.ml-5 { margin-left: 2.5em!important; }

.mr-0 { margin-right: 0em!important; }
.mr-1 { margin-right: 0.5em!important; }
.mr-2 { margin-right: 0.8em!important; }
.mr-3 { margin-right: 1.2em!important; }
.mr-4 { margin-right: 1.8em!important; }
.mr-5 { margin-right: 2.5em!important; }

.mt-0 { margin-top: 0em!important; }
.mt-1 { margin-top: 0.5em!important; }
.mt-2 { margin-top: 0.8em!important; }
.mt-3 { margin-top: 1.2em!important; }
.mt-4 { margin-top: 1.8em!important; }
.mt-5 { margin-top: 2.5em!important; }

.mb-0 { margin-bottom: 0em!important; }
.mb-1 { margin-bottom: 0.5em!important; }
.mb-2 { margin-bottom: 0.8em!important; }
.mb-3 { margin-bottom: 1.2em!important; }
.mb-4 { margin-bottom: 1.8em!important; }
.mb-5 { margin-bottom: 2.5em!important; }



.mx-auto { margin-left: auto!important; margin-right: auto!important; }
.mx-0 { margin-left: 0em!important; margin-right: 0em!important; }
.mx-1 { margin-left: 0.5em!important; margin-right: 0.5em!important; }
.mx-2 { margin-left: 0.8em!important; margin-right: 0.8em!important; }
.mx-3 { margin-left: 1.2em!important; margin-right: 1.2em!important; }
.mx-4 { margin-left: 1.8em!important; margin-right: 1.8em!important; }
.mx-5 { margin-left: 2.5em!important; margin-right: 2.5em!important; }

.my-auto { margin-left: auto!important; margin-right: auto!important; }
.my-0 { margin-top: 0em!important; margin-bottom: 0em!important; }
.my-1 { margin-top: 0.5em!important; margin-bottom: 0.5em!important; }
.my-2 { margin-top: 0.8em!important; margin-bottom: 0.8em!important; }
.my-3 { margin-top: 1.2em!important; margin-bottom: 1.2em!important; }
.my-4 { margin-top: 1.8em!important; margin-bottom: 1.8em!important; }
.my-5 { margin-top: 2.5em!important; margin-bottom: 2.5em!important; }



.p-0 { padding: 0em!important; }
.p-1 { padding: 0.5em!important; }
.p-2 { padding: 0.8em!important; }
.p-3 { padding: 1.2em!important; }
.p-4 { padding: 1.8em!important; }
.p-5 { padding: 2.5em!important; }

.pl-0 { padding-left: 0em!important; }
.pl-1 { padding-left: 0.5em!important; }
.pl-2 { padding-left: 0.8em!important; }
.pl-3 { padding-left: 1.2em!important; }
.pl-4 { padding-left: 1.8em!important; }
.pl-5 { padding-left: 2.5em!important; }

.pr-0 { padding-right: 0em!important; }
.pr-1 { padding-right: 0.5em!important; }
.pr-2 { padding-right: 0.8em!important; }
.pr-3 { padding-right: 1.2em!important; }
.pr-4 { padding-right: 1.8em!important; }
.pr-5 { padding-right: 2.5em!important; }

.pt-0 { padding-top: 0em!important; }
.pt-1 { padding-top: 0.5em!important; }
.pt-2 { padding-top: 0.8em!important; }
.pt-3 { padding-top: 1.2em!important; }
.pt-4 { padding-top: 1.8em!important; }
.pt-5 { padding-top: 2.5em!important; }

.pb-0 { padding-bottom: 0em!important; }
.pb-1 { padding-bottom: 0.5em!important; }
.pb-2 { padding-bottom: 0.8em!important; }
.pb-3 { padding-bottom: 1.2em!important; }
.pb-4 { padding-bottom: 1.8em!important; }
.pb-5 { padding-bottom: 2.5em!important; }



.px-auto { padding-left: auto!important; padding-right: auto!important; }
.px-0 { padding-left: 0em!important; padding-right: 0em!important; }
.px-1 { padding-left: 0.5em!important; padding-right: 0.5em!important; }
.px-2 { padding-left: 0.8em!important; padding-right: 0.8em!important; }
.px-3 { padding-left: 1.2em!important; padding-right: 1.2em!important; }
.px-4 { padding-left: 1.8em!important; padding-right: 1.8em!important; }
.px-5 { padding-left: 2.5em!important; padding-right: 2.5em!important; }

.py-auto { padding-left: auto!important; padding-right: auto!important; }
.py-0 { padding-top: 0em!important; padding-bottom: 0em!important; }
.py-1 { padding-top: 0.5em!important; padding-bottom: 0.5em!important; }
.py-2 { padding-top: 0.8em!important; padding-bottom: 0.8em!important; }
.py-3 { padding-top: 1.2em!important; padding-bottom: 1.2em!important; }
.py-4 { padding-top: 1.8em!important; padding-bottom: 1.8em!important; }
.py-5 { padding-top: 2.5em!important; padding-bottom: 2.5em!important; }

/* /blank */


@media(max-width: 740px) {
    /* blank */
    .m-sm-0 { margin: 0em!important; }
    .m-sm-1 { margin: 0.5em!important; }
    .m-sm-2 { margin: 0.8em!important; }
    .m-sm-3 { margin: 1.2em!important; }
    .m-sm-4 { margin: 1.8em!important; }
    .m-sm-5 { margin: 2.5em!important; }

    .ml-sm-0 { margin-left: 0em!important; }
    .ml-sm-1 { margin-left: 0.5em!important; }
    .ml-sm-2 { margin-left: 0.8em!important; }
    .ml-sm-3 { margin-left: 1.2em!important; }
    .ml-sm-4 { margin-left: 1.8em!important; }
    .ml-sm-5 { margin-left: 2.5em!important; }

    .mr-sm-0 { margin-right: 0em!important; }
    .mr-sm-1 { margin-right: 0.5em!important; }
    .mr-sm-2 { margin-right: 0.8em!important; }
    .mr-sm-3 { margin-right: 1.2em!important; }
    .mr-sm-4 { margin-right: 1.8em!important; }
    .mr-sm-5 { margin-right: 2.5em!important; }

    .mt-sm-0 { margin-top: 0em!important; }
    .mt-sm-1 { margin-top: 0.5em!important; }
    .mt-sm-2 { margin-top: 0.8em!important; }
    .mt-sm-3 { margin-top: 1.2em!important; }
    .mt-sm-4 { margin-top: 1.8em!important; }
    .mt-sm-5 { margin-top: 2.5em!important; }

    .mb-sm-0 { margin-bottom: 0em!important; }
    .mb-sm-1 { margin-bottom: 0.5em!important; }
    .mb-sm-2 { margin-bottom: 0.8em!important; }
    .mb-sm-3 { margin-bottom: 1.2em!important; }
    .mb-sm-4 { margin-bottom: 1.8em!important; }
    .mb-sm-5 { margin-bottom: 2.5em!important; }



    .mx-sm-auto { margin-left: auto!important; margin-right: auto!important; }
    .mx-sm-0 { margin-left: 0em!important; margin-right: 0em!important; }
    .mx-sm-1 { margin-left: 0.5em!important; margin-right: 0.5em!important; }
    .mx-sm-2 { margin-left: 0.8em!important; margin-right: 0.8em!important; }
    .mx-sm-3 { margin-left: 1.2em!important; margin-right: 1.2em!important; }
    .mx-sm-4 { margin-left: 1.8em!important; margin-right: 1.8em!important; }
    .mx-sm-5 { margin-left: 2.5em!important; margin-right: 2.5em!important; }

    .my-sm-auto { margin-left: auto!important; margin-right: auto!important; }
    .my-sm-0 { margin-top: 0em!important; margin-bottom: 0em!important; }
    .my-sm-1 { margin-top: 0.5em!important; margin-bottom: 0.5em!important; }
    .my-sm-2 { margin-top: 0.8em!important; margin-bottom: 0.8em!important; }
    .my-sm-3 { margin-top: 1.2em!important; margin-bottom: 1.2em!important; }
    .my-sm-4 { margin-top: 1.8em!important; margin-bottom: 1.8em!important; }
    .my-sm-5 { margin-top: 2.5em!important; margin-bottom: 2.5em!important; }



    .p-sm-0 { padding: 0em!important; }
    .p-sm-1 { padding: 0.5em!important; }
    .p-sm-2 { padding: 0.8em!important; }
    .p-sm-3 { padding: 1.2em!important; }
    .p-sm-4 { padding: 1.8em!important; }
    .p-sm-5 { padding: 2.5em!important; }

    .pl-sm-0 { padding-left: 0em!important; }
    .pl-sm-1 { padding-left: 0.5em!important; }
    .pl-sm-2 { padding-left: 0.8em!important; }
    .pl-sm-3 { padding-left: 1.2em!important; }
    .pl-sm-4 { padding-left: 1.8em!important; }
    .pl-sm-5 { padding-left: 2.5em!important; }

    .pr-sm-0 { padding-right: 0em!important; }
    .pr-sm-1 { padding-right: 0.5em!important; }
    .pr-sm-2 { padding-right: 0.8em!important; }
    .pr-sm-3 { padding-right: 1.2em!important; }
    .pr-sm-4 { padding-right: 1.8em!important; }
    .pr-sm-5 { padding-right: 2.5em!important; }

    .pt-sm-0 { padding-top: 0em!important; }
    .pt-sm-1 { padding-top: 0.5em!important; }
    .pt-sm-2 { padding-top: 0.8em!important; }
    .pt-sm-3 { padding-top: 1.2em!important; }
    .pt-sm-4 { padding-top: 1.8em!important; }
    .pt-sm-5 { padding-top: 2.5em!important; }

    .pb-sm-0 { padding-bottom: 0em!important; }
    .pb-sm-1 { padding-bottom: 0.5em!important; }
    .pb-sm-2 { padding-bottom: 0.8em!important; }
    .pb-sm-3 { padding-bottom: 1.2em!important; }
    .pb-sm-4 { padding-bottom: 1.8em!important; }
    .pb-sm-5 { padding-bottom: 2.5em!important; }



    .px-sm-auto { padding-left: auto!important; padding-right: auto!important; }
    .px-sm-0 { padding-left: 0em!important; padding-right: 0em!important; }
    .px-sm-1 { padding-left: 0.5em!important; padding-right: 0.5em!important; }
    .px-sm-2 { padding-left: 0.8em!important; padding-right: 0.8em!important; }
    .px-sm-3 { padding-left: 1.2em!important; padding-right: 1.2em!important; }
    .px-sm-4 { padding-left: 1.8em!important; padding-right: 1.8em!important; }
    .px-sm-5 { padding-left: 2.5em!important; padding-right: 2.5em!important; }

    .py-sm-auto { padding-left: auto!important; padding-right: auto!important; }
    .py-sm-0 { padding-top: 0em!important; padding-bottom: 0em!important; }
    .py-sm-1 { padding-top: 0.5em!important; padding-bottom: 0.5em!important; }
    .py-sm-2 { padding-top: 0.8em!important; padding-bottom: 0.8em!important; }
    .py-sm-3 { padding-top: 1.2em!important; padding-bottom: 1.2em!important; }
    .py-sm-4 { padding-top: 1.8em!important; padding-bottom: 1.8em!important; }
    .py-sm-5 { padding-top: 2.5em!important; padding-bottom: 2.5em!important; }


    /* size */
    .w-sm-100 { width: 100%; }
    .w-sm-80 { width: 80%; }
    .w-sm-75 { width: 75%; }
    .w-sm-70 { width: 70%; }
    .w-sm-60 { width: 60%; }
    .w-sm-50 { width: 50%; }
    .w-sm-40 { width: 40%; }
    .w-sm-30 { width: 30%; }
    .w-sm-25 { width: 25%; }
    .w-sm-20 { width: 20%; }
    /* /size */

    /* flex */
    .flex-sm-wrap { flex-wrap: wrap; }
    .flex-sm-column { flex-direction: column }

    .justify-content-sm-between { justify-content: space-between; }
    .justify-content-sm-around { justify-content: space-around; }
    .justify-content-sm-center { justify-content: center; }

    .align-items-sm-start { align-items: flex-start; }
    .align-items-sm-center { align-items: center; }
    .align-items-sm-end { align-items: flex-end; }
    /* /flex */


    /* item */
    .list > .item-sm-33 { flex: 0 0 calc(33.333% - 0.5em); max-width: calc(33.333% - 0.5em); }

    .list > .item-sm-25 { flex: 0 0 calc(25% - 0.5em); max-width: calc(25% - 0.5em); }
    .list > .item-sm-50 { flex: 0 0 calc(50% - 0.5em); max-width: calc(50% - 0.5em); }
    .list > .item-sm-100 { flex: 0 0 calc(100% - 0.5em); max-width: calc(100% - 0.5em); }
    /* /item */


    /* display */
    .d-sm-block { display: block!important; }
    .d-sm-none { display: none!important; }
    .d-sm-flex { display: flex!important; }
    .d-sm-inline { display: inline!important; }
    .d-sm-inline-block { display: inline-block!important; }
    /* /display */


    .border-sm-none { border: none!important; }


    /* text */
    .text-sm-left { text-align: left; }
    .text-sm-center { text-align: center; }
    .text-sm-right { text-align: right; }

    .fx-sm-n3 { font-size: 0.8em; }
    .fx-sm-n2 { font-size: 0.85em; }
    .fx-sm-n1 { font-size: 0.9em; }

    .fx-sm-1 { font-size: 1em; }
    .fx-sm-2 { font-size: 1.05em; }
    .fx-sm-3 { font-size: 1.3em; }
    .fx-sm-4 { font-size: 1.5em; }
    .fx-sm-5 { font-size: 1.8em; }

    .fx-sm-6 { font-size: 2.2em; }
    .fx-sm-7{ font-size: 2.5em; }
    .fx-sm-8 { font-size: 2.8em; }
    .fx-sm-9 { font-size: 3.2em; }
    /* /text */
}

